.vertical-line {
  width: 2px; /* Ajusta el ancho de la línea */
  height: 20em; /* Ajusta la altura de la línea */
  background: linear-gradient(to bottom, red, blue); /* Degradado de arriba hacia abajo */
  position: relative; /* Asegúrate de que la línea se posicione correctamente */
  left: 50%; /* Ajusta la posición horizontal */
  top: 2rem; /* Ajusta la posición vertical */
  float: left;
}

ul#timeline-list li{
  display: flex; /* Asegúrate de que los elementos de la lista se muestren en línea */
  justify-content: flex-end; /* Alinea los elementos de la lista */
  //margin-bottom: 20rem; /* Ajusta la separación entre los elementos */
}

ul#timeline-list li:nth-child(odd){
  display: flex; /* Asegúrate de que los elementos de la lista se muestren en línea */
  justify-content: flex-start; /* Alinea los elementos de la lista */
  //margin-bottom: 20rem; /* Ajusta la separación entre los elementos */
}

ul li article{
  text-align: right; /* Alinea el texto a la derecha */
  width: 45%; /* Ajusta el ancho de los elementos */
  height: 40vh;
  overflow: hidden;
  overflow-y: auto;
}

ul li:nth-child(odd) article{
  text-align: left; /* Alinea el texto a la derecha */
  float: right;
  //margin-top: 20rem !important; /* Ajusta la separación entre los elementos */
}

@media (max-width: 768px) {
  ul#timeline-list li article{
    width: 100%; /* Ajusta el ancho de los elementos */
  }
}
