.list-group-item{
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        background-color: #f5f5f5;
    }
    &.active{
        background-color: #f5f5f5;
    }

    list-style-type: disc !important;
}

.highlight {
  position: relative !important;
  border-radius: var(--border-radius) !important;
  padding: 4px !important;
}

.highlight .inner {
  border-radius: 4px !important;
}

.highlight::before,
.highlight::after {
  content: "";
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  background: linear-gradient(
    45deg,
    red,
    blue,
  ) !important;
  background-size: 400% !important;
  z-index: -1 !important;
  animation: glow 20s linear infinite !important;
  width: 100% !important;
  border-radius: var(--border-radius) !important;
}

.highlight::after {
  filter: blur(25px) !important;
  transform: translate3d(0, 0, 0) !important;
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

