<div class="container">
  <h2 class="text-secondary text-center mb-5"><i class="bi bi-person-workspace"></i> Professional Experience</h2>
  <div class="row">
    <div class="col-md-10 mb-4">
      @for (item of items; track $index) {
      <div class="card m-1 mb-5 shadow-sm">
        <div class="card-header d-flex justify-content-between">
          <h5 class="card-title m-0">{{ item.company }}</h5>
          <span class="d-flex align-items-center">
            <p class="m-0 ms-2" appElapsedPeriod [dates]="item"></p>
          </span>


        </div>
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="m-0 p-0"><small class="text-muted"><i class="bi bi-geo-alt-fill"></i> {{ item.location }}</small></p>
          <p class="m-0 p-0"><i class="bi bi-calendar text-muted"></i><small class="text-muted" appWorkedPeriod [timeline]="item"></small></p>
          <p>{{ item.detail }}</p>
          <button class="btn btn-info text-white" (click)="openItemDetail(item)">
            <i class="bi bi-binoculars"></i>
            Show detail</button>
          <hr>
          @for (tech of item.technologies; track $index) {
            <span class="badge rounded-pill text-bg-secondary mx-1"> {{ tech }} </span>
          }
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
      }
    </div>
    <div class="col-md-2 mb-4">
      <ul appFixedPosition class="list-group border-0">
        @for (year of filteredYears; track $index) {
        <li class="list-group-item border-0">
          <i class="bi bi-circle"></i>
          {{ year }}
        </li>
        }
      </ul>
    </div>
  </div>
</div>
