.list-group-item{
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        background-color: #f5f5f5;
    }
    &.active{
        background-color: #f5f5f5;
    }

    list-style-type: disc !important;

}
