<div class="container text-center">
  <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
    <a [routerLink]="'/experience'" class="btn btn-outline-secondary"><i class="bi bi-ui-checks-grid"></i> Professional Experience</a>
    <a [routerLink]="'/certifications'" class="btn btn-outline-secondary"><i class="bi bi-award-fill"></i> Certifications</a>
    <a [routerLink]="'/skills'" class="btn btn-outline-secondary"><i class="bi bi-diamond-fill"></i> Skills</a>
  </div>
</div>
