<div id="top-menu" class="d-flex flex-column m-2">
  <button class="btn btn-light mb-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
      fill="currentColor" class="bi bi-sun-fill"
      viewBox="0 0 16 16">
      <path
        d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
    </svg>
  </button>
  <app-top-menu-button
    (_clickedItem)="clickedItem($event)"></app-top-menu-button>
</div>
<div class="container ibm-plex-mono-regular my-5 py-3">
  <div class="d-flex flex-column text-center">
    <div class="d-flex justify-content-center" style="position: relative;"
      [@fade]="state ? 'desvanecido' : 'visible'">
      <img src="/assets/images/6799117.jpeg" class="shadow-lg rounded my-5 p-0"
        width="80"
        height="80" alt="#">
    </div>
    <h1 class="text-center gemini">Marco Izaguirre</h1>
    <h2 class="card-subtitle text-center fw-lighter">Sr FullStack Software
      Developer</h2>
  </div>
  <div class="d-flex justify-content-center">
    <img src="assets/images/SVG/tcs.svg" class="img-fluid my-4" alt="Line" width="100"/>
    <img src="assets/images/SVG/uc.svg" class="img-fluid my-4" alt="Line" width="100"/>
    <img src="assets/images/SVG/aws.svg" class="img-fluid my-4" alt="Line" width="100"/>
  </div>

  <div class="row mb-5">
    <div class="col-3">&nbsp;</div>
    <div class="col-6">
      <div class="d-flex justify-content-between">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary"><img
              src="assets/images/SVG/linkedin-svgrepo-com.svg" alt="LinkedIn"
              width="25" /></button>
          <button type="button" class="btn btn-primary"><img
              src="assets/images/SVG/github-rounded-border-svgrepo-com.svg"
              alt="GitHub" width="25" /></button>
          <button type="button" class="btn btn-primary"><img
              src="assets/images/SVG/twitter-154-svgrepo-com.svg" alt="Twitter"
              width="25" /></button>
        </div>
        <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
          <a [routerLink]="'/'" class="btn btn-outline-primary"><i class="bi bi-house-door-fill"></i> Home</a>
          <a [routerLink]="'/experience'" class="btn btn-outline-primary"><i class="bi bi-ui-checks-grid"></i> Professional Experience</a>
          <a [routerLink]="'/skills'" class="btn btn-outline-primary"><i class="bi bi-diamond-fill"></i> Skills</a>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>

<!-- <button (click)="showNotification('')">Show Notification</button>
<button (click)="showModal('fromButton')">Show Success Notification</button> -->

<!-- <app-mi-notification></app-mi-notification> -->
<app-mi-modal></app-mi-modal>
<footer class="bg-dark text-white text-center p-3">
  <p class="m-0">© {{currentYear}} Marco Izaguirre</p>
</footer>
