@if(item){
  <li id="{{item.id}}" class="timeline-item mb-5">
    <article [@screen]="item.visible ==  true ? 'in' : direction" class="p-5 mt-5 bg-white border border-black">
      <h1>{{ item.company }}</h1>
      <p>{{ item.title }}</p>
      @if(item.endDate == null) {
        <p><small>Current Job</small></p>
      } @else {
        <p><small>{{ item.startDate }} - {{ item.endDate }}</small></p>
      }
      <button class="btn btn-sm btn-secondary" (click)="toggleDescription()">Ver</button>
    </article>
  </li>
  <div #asideItem></div>
}
